@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@100&family=Oswald:wght@700&family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(212, 45%, 89%);
    font-size: 16px;
    font-family: 'Anton', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-con {
    margin: 200px;
    width: 250px;
    background: hsl(0, 0%, 100%);
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-item img {
    display: block;
    margin: 10px auto 10px ;
    border: 1px solid hsl(220, 15%, 55%);
    border-radius: 10px;
}

.details h4 ,.details p{
    text-align: center;
    padding: 4px;
}

.details p{
    opacity: 0.5;
}